{% extends 'base.html.twig' %}
{% block flash %}

{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-list">
        {% for trick in figure %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="/details-figure/{{ trick.id }}">
                        <img src="{{ asset('/assets/image/stalefish.jpg') }}" class="card-img" alt="">
                        <div class="card-body">
                            <p class="card-text d-flex justify-content-center mb-2">{{ trick.groupe }}</p>
                            <div class="d-flex justify-content-center">
                                <div class="btn-group">
                                    <a href="/details-figure/{{ trick.id }}"><button type="button" class="btn btn-sm btn-outline-success">Consulter</button></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </main>
{% endblock %}